.cards {
    display: flex;
    justify-content:space-between;
    background-color: black;
  }
  
  .card {
    width: 18rem;
    margin-right: 10px; /* Adjust spacing between cards */
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
  }
  
  .card-body {
    padding:1rem;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .card-text {
    margin-bottom: 1rem;
  }
  
  .btn {
    border: none;
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #d92680;
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
.options{
  text-align: center;
  color: #f82586 ;
  font-size:15px;
  text-shadow: 0 0 10px  #f82586;
  background-color: black;
  background-size: 50px;
  width: auto;
}